<html lang="eng">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700">
    <link rel="stylesheet" href="/css/main.css">
    <title>Super sprinter 3000</title>
</head>
<body>
<div class="wrapper">
    <h1>Super Sprinter 3000</h1>
</div>
</body>
</html>

